body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin-top: 0;
}

#object_name_input
{
    width: 500px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid lightcoral;
    box-shadow: 5px 5px 5px grey;
}

#start, #status, #object_name
{
    font-size: 18px;
}

canvas
{
    border: 3px solid lightpink;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightcoral;
    margin-top: 130px;
}

.copy_right_footer
{
    position:fixed;
    text-align: center;
    color: white;
    background-color: grey;
    width: 100%;
    line-height: 3;
    bottom: 0;
}